Repository HewlettPackard/shs-kfabric, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers, @hpe/hpc-shs-cassini-enablement

.github/CODEOWNERS:

*       @hpe/hpc-shs-ss11-codereviewers  @hpe/hpc-shs-kfabric-codereviewers
Jenkinsfile* @hpe/hpc-shs-cassini-enablement
build.sh @hpe/hpc-shs-cassini-enablement
dkms* @hpe/hpc-shs-cassini-enablement
rpm_build* @hpe/hpc-shs-cassini-enablement
runBuildPrep* @hpe/hpc-shs-cassini-enablement
set_slingshot_version.sh @hpe/hpc-shs-cassini-enablement
zypper-local.sh @hpe/hpc-shs-cassini-enablement
build.sh	@hpe/hpc-shs-cassini-enablement
run.*	@hpe/hpc-shs-cassini-enablement

Update from 0.1.0 to 1.0.0
  cray-kfabric.spec
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

Task: Decommission rhel-8.9 support
  Jenkinsfile.rpmbuild.rhel.x86_64
Owners: @hpe/hpc-shs-cassini-enablement

bugfix: Fix failing lspci check in tests
  tests/cxi/sharness/cxi_test_setup.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

Update specfile to build for the correct kernels
  cray-kfabric.spec
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

Force Rebuild Commit
  runBuildPrep.basekernel.sh
Owners: @hpe/hpc-shs-cassini-enablement

Task: Add rhel-9.5 distribution support
  Jenkinsfile.rpmbuild.rhel.aarch64
  Jenkinsfile.rpmbuild.rhel.x86_64
Owners: @hpe/hpc-shs-cassini-enablement

task: Add api_version info to kfabric
  Documentation/kfi/kfi_fabric.3.md
  include/kfabric.h
  kfi/kfabric.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

task: Add api_version info to kfabric
  prov/cxi/kcxi_fabric.c
  prov/cxi/kcxi_prov.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

task: Add api_version info to kfabric
  tests/cxi/single_client/test_fabric.c
  tests/cxi/single_client/test_getinfo.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

feature: Add scatter gather APIs to kfabric
  Documentation/kfi/kfi_mr.3.md
  Documentation/kfi/kfi_msg.3.md
  Documentation/kfi/kfi_rma.3.md
  Documentation/kfi/kfi_tagged.3.md
  include/kfabric.h
  include/kfi_domain.h
  include/kfi_endpoint.h
  include/kfi_enosys.h
  include/kfi_rma.h
  include/kfi_tagged.h
  kfi/kfabric.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

feature: Add scatter gather APIs to kfabric
  tests/cxi/common/test_common.c
  tests/cxi/common/test_common.h
  tests/cxi/sharness/t0210-rma_operations-6k.t
  tests/cxi/single_client/test_msg_ops_thread.c
  tests/cxi/single_client/test_rma_md_cache.c
  tests/cxi/single_client/test_rma_ops_thread.c
  tests/cxi/single_client/test_tagged_ops.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

feature: Add scatter gather APIs to kfabric
  prov/cxi/kcxi_domain.c
  prov/cxi/kcxi_ep.c
  prov/cxi/kcxi_md.c
  prov/cxi/kcxi_mr.c
  prov/cxi/kcxi_prov.h
  prov/cxi/kcxi_recv_ops.c
  prov/cxi/kcxi_rma_ops.c
  prov/cxi/kcxi_rx_ctx.c
  prov/cxi/kcxi_send_ops.c
  prov/cxi/kcxi_tx_ctx.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

task: Add kfi_getname support
  prov/cxi/kcxi_ep.c
  tests/cxi/sharness/t0136-getname.t
  tests/cxi/single_client/Makefile
  tests/cxi/single_client/test_getname.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

bugfix: kfi_av_insert support and bug fixes
  prov/cxi/kcxi_av.c
  tests/cxi/single_client/test_av.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

build: remove unnecessary commas
  dkms.conf.in
Owners: @hpe/hpc-shs-cassini-enablement

build: remove unnecessary commas
  dkms.conf.in
Owners: @hpe/hpc-shs-cassini-enablement

NETCASSINI-7012: enhance shs dkms builds to allow parallelism
  dkms.conf.in
Owners: @hpe/hpc-shs-cassini-enablement

added copyright
  dkms.conf.in
Owners: @hpe/hpc-shs-cassini-enablement

added copyright
  dkms.conf.in
Owners: @hpe/hpc-shs-cassini-enablement

NETCASSINI-7012: enhance shs dkms builds to allow parallelism
  dkms.conf.in
Owners: @hpe/hpc-shs-cassini-enablement

bugfix: Initialize mutex in kcxi_domain_if_alloc()
  prov/cxi/kcxi_domain_if.c
  tests/cxi/sharness/cxi_test_setup.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

task: Fix errors reported by clang/llvm
  prov/cxi/kcxi_addr_res.c
  prov/cxi/kcxi_cp.c
  prov/cxi/kcxi_cq.c
  prov/cxi/kcxi_recv_ops.c
  tests/cxi/single_client/test_eq_thread.c
  tests/cxi/single_client/test_getinfo.c
  tests/cxi/single_client/test_msg_ops_thread.c
  tests/cxi/single_client/test_rx_cancel.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

bugfix: Don't allow unsupported memory region option
  prov/cxi/kcxi_mr.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

bugfix: Use dma_map_page() instead of virt_to_phys()
  prov/cxi/kcxi_cq.c
  prov/cxi/kcxi_md.c
  prov/cxi/kcxi_mr.c
  prov/cxi/kcxi_mr_domain.c
  prov/cxi/kcxi_prov.h
  prov/cxi/kcxi_recv_ops.c
  prov/cxi/kcxi_rma_ops.c
  prov/cxi/kcxi_send_ops.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

task: Update test to for page offsets
  tests/cxi/single_client/test_rma_md_cache.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

bugfix: Don't allow unsupported memory region option
  prov/cxi/kcxi_mr.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

bugfix: Use dma_map_page() instead of virt_to_phys()
  prov/cxi/kcxi_cq.c
  prov/cxi/kcxi_md.c
  prov/cxi/kcxi_mr.c
  prov/cxi/kcxi_mr_domain.c
  prov/cxi/kcxi_prov.h
  prov/cxi/kcxi_recv_ops.c
  prov/cxi/kcxi_rma_ops.c
  prov/cxi/kcxi_send_ops.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

task: Update test to for page offsets
  tests/cxi/single_client/test_rma_md_cache.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

task: update header file location
  prov/cxi/kcxi_prov.h
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

task: Update paths to cxi-driver modules
  Makefile
  tests/cxi/sharness/cxi_test_setup.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

Feature: Use RX/TX profiles
  prov/cxi/Makefile
  prov/cxi/kcxi_cp.c
  prov/cxi/kcxi_domain_if.c
  prov/cxi/kcxi_if.c
  prov/cxi/kcxi_profile.c
  prov/cxi/kcxi_prov.h
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

Feature: Use rgroup API instead of svc API
  prov/cxi/kcxi_if.c
  prov/cxi/kcxi_prov.h
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

NETCASSINI-7593 respect modprobe blacklist
  70-kfabric.rules
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

NETCASSINI-7593 respect modprobe blacklist
  70-kfabric.rules
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

bugfix: Update unit test vm startup to load configfs
  tests/cxi/sharness/cxi_test_setup.sh
  tests/cxi/sharness/preamble.sh
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

build: Change module author to "HPE"
  build.sh
  prov/cxi/kcxi_prov.c
Owners: @hpe/hpc-shs-cassini-enablement, @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

NETCASSINI-7639: fix cxi.h header file path
  prov/cxi/kcxi_prov.h
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

Revert "Feature: Use rgroup API instead of svc API"
  prov/cxi/kcxi_if.c
  prov/cxi/kcxi_prov.h
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

Revert "Feature: Use RX/TX profiles"
  prov/cxi/Makefile
  prov/cxi/kcxi_cp.c
  prov/cxi/kcxi_domain_if.c
  prov/cxi/kcxi_if.c
  prov/cxi/kcxi_profile.c
  prov/cxi/kcxi_prov.h
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers

Fix cxi_rgroup_enable API change
  prov/cxi/kcxi_if.c
Owners: @hpe/hpc-shs-ss11-codereviewers, @hpe/hpc-shs-kfabric-codereviewers
